<p><%= flash[:destroy] %></p>
<h1>Books</h1>
<!--タイトルとボディよこがき-->

<div class="book">
  <table>
    <thead>
      <tr>
        <th >Title</th>
        <th >Body</th>
      </tr>
    </thead>
  <!--each do処理-->
    <% @books.each do |book| %>


    <tbody>
    <tr>
      <td ><%= book.title %></td>
      <td ><%= book.body %></td>
  <!--Showボタン-->
      <td ><%= link_to "Show", book_path(book.id) %></td>
  <!--ここのbookという変数はeach doの中の変数-->
  <!--Editボタン-->
      <td><%= link_to "Edit", edit_book_path(book.id) %></td>
  <!--Destroyボタン-->
      <td><%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
    <% end %>
    </tr>
    </tbody>
  </table>


<h2>New book</h2>
<!--newのフォームウィズ画面-->
<%= render 'sherd/error_form' %>
<%= form_with model:@book, local:true do |f| %>

<p><%= f.label :Title %></p>
<p><%= f.text_field :title %></p>
<p><%= f.label :Body %></p>
<P><%= f.text_area :body %></p>

<P><%= f.submit 'Create Book' %></P>
<% end %>
</div>